.AboutGrubhub-leftside {
    float: left;
    height: 35vh;
    width: 50%;
    text-align: left;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    font-size: medium;
    background-color:	#C0C0C0;
    }

    .AboutGrubhub-rightside {
      float: right;
      height: 35vh;
      width: 100%;
      background-position: left;
      padding-top: 1%;
      padding-bottom: 16%;
      padding-right: 10%;
      object-fit: contain; 
      background-color: 	#C0C0C0;
      text-align: justify;
      font-size: 11pt;
    }